.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 25px;
    background: #343A40;
    outline: none; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 100px;
    margin: 1em 0;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #007bff; 
    cursor: pointer; 
    border: 0;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #007bff; 
    cursor: pointer; 
    border: 0;
    border-radius: 50%;
  }
  #bg-cube{
    background: url('./bg.png') no-repeat;
    background-size: auto 100px;
    margin: 1em 0;
    height: 100px;
  }

  #cube{
    background: url('./cube.png') no-repeat;
    background-size: 100px 100px;
    padding: 1em 0;
    height: 100px;
    width: 100px;

    position: relative;
    left: 0px;
  }