:root {
  --side: 50px;
}

.card {
  width: 768px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 500px;
}

.textMessage {
  flex: 1;
  min-width: 712px;
  margin: 0.5rem;
}

.mainButton {
  font-size: 1.5em;
  font-weight: bold;
  min-width: 40px;
  min-height: 40px;
  padding: 5px 15px;
  margin: 0.5rem;
}
