.button {
  border: 0;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s linear;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.5em;
}

.active {
  background: #fff;
  color: #137cbd;
}

.button:hover:not(.active) {
  background: #0e5a8a;
}
